# Configuration file

ores {

    block_0 {
        S:baseBlock=minecraft:iron_ore
        I:baseBlockMeta=0
        S:baseBlockTexture=iron_ore
        D:denseOreProbability=1.0
        I:renderType=0
        I:retroGenId=0
        S:underlyingBlock=stone
    }

    block_1 {
        S:baseBlock=minecraft:gold_ore
        I:baseBlockMeta=0
        S:baseBlockTexture=gold_ore
        D:denseOreProbability=1.0
        I:renderType=0
        I:retroGenId=0
        S:underlyingBlock=stone
    }

    block_2 {
        S:baseBlock=minecraft:lapis_ore
        I:baseBlockMeta=0
        S:baseBlockTexture=lapis_ore
        D:denseOreProbability=1.0
        I:renderType=0
        I:retroGenId=0
        S:underlyingBlock=stone
    }

    block_3 {
        S:baseBlock=minecraft:diamond_ore
        I:baseBlockMeta=0
        S:baseBlockTexture=diamond_ore
        D:denseOreProbability=1.0
        I:renderType=0
        I:retroGenId=0
        S:underlyingBlock=stone
    }

    block_4 {
        S:baseBlock=minecraft:emerald_ore
        I:baseBlockMeta=0
        S:baseBlockTexture=emerald_ore
        D:denseOreProbability=1.0
        I:renderType=0
        I:retroGenId=0
        S:underlyingBlock=stone
    }

    block_5 {
        S:baseBlock=minecraft:redstone_ore
        I:baseBlockMeta=0
        S:baseBlockTexture=redstone_ore
        D:denseOreProbability=1.0
        I:renderType=0
        I:retroGenId=0
        S:underlyingBlock=stone
    }

    block_6 {
        S:baseBlock=minecraft:coal_ore
        I:baseBlockMeta=0
        S:baseBlockTexture=coal_ore
        D:denseOreProbability=1.0
        I:renderType=0
        I:retroGenId=0
        S:underlyingBlock=stone
    }

    block_7 {
        S:baseBlock=minecraft:quartz_ore
        I:baseBlockMeta=0
        S:baseBlockTexture=quartz_ore
        D:denseOreProbability=1.0
        I:renderType=0
        I:retroGenId=0
        S:underlyingBlock=netherrack
    }

    block_8 {
        S:baseBlock=ThermalFoundation:Ore
        I:baseBlockMeta=0
        S:baseBlockTexture=thermalfoundation:ore/Ore_Copper
        D:denseOreProbability=1
        I:renderType=0
        I:retroGenID=0
        S:underlyingBlock=stone
    }

    block_9 {
        S:baseBlock=ThermalFoundation:Ore
        I:baseBlockMeta=1
        S:baseBlockTexture=thermalfoundation:ore/Ore_Tin
        D:denseOreProbability=1
        I:renderType=0
        I:retroGenID=0
        S:underlyingBlock=stone
    }

    block_10 {
        S:baseBlock=ThermalFoundation:Ore
        I:baseBlockMeta=2
        S:baseBlockTexture=thermalfoundation:ore/Ore_Silver
        D:denseOreProbability=1
        I:renderType=0
        I:retroGenID=0
        S:underlyingBlock=stone
    }

    block_11 {
        S:baseBlock=ThermalFoundation:Ore
        I:baseBlockMeta=3
        S:baseBlockTexture=thermalfoundation:ore/Ore_Lead
        D:denseOreProbability=1
        I:renderType=0
        I:retroGenID=0
        S:underlyingBlock=stone
    }

    block_12 {
        S:baseBlock=ThermalFoundation:Ore
        I:baseBlockMeta=4
        S:baseBlockTexture=thermalfoundation:ore/Ore_Nickel
        D:denseOreProbability=1
        I:renderType=0
        I:retroGenID=0
        S:underlyingBlock=stone
    }

    block_13 {
        S:baseBlock=ThermalFoundation:Ore
        I:baseBlockMeta=5
        S:baseBlockTexture=thermalfoundation:ore/Ore_Platinum
        D:denseOreProbability=1
        I:renderType=0
        I:retroGenID=0
        S:underlyingBlock=stone
    }

    block_14 {
        S:baseBlock=ThermalFoundation:Ore
        I:baseBlockMeta=6
        S:baseBlockTexture=thermalfoundation:ore/Ore_Mithril
        D:denseOreProbability=1
        I:renderType=0
        I:retroGenID=0
        S:underlyingBlock=stone
    }

    block_15 {
        S:baseBlock=TofuCraft:blockOreTofu
        I:baseBlockMeta=0
        S:baseBlockTexture=tofucraft:blockOreTofu
        D:denseOreProbability=1
        I:renderType=5
        I:retroGenID=0
        S:underlyingBlock=stone
    }

    block_16 {
        S:baseBlock=TofuCraft:blockOreTofuDiamond
        I:baseBlockMeta=0
        S:baseBlockTexture=tofucraft:blockOreTofuDiamond
        D:denseOreProbability=1
        I:renderType=5
        I:retroGenID=0
        S:underlyingBlock=tofucraft:blockTofuMomen
    }

    block_17 {
        S:baseBlock=TofuFactory:oreMithril
        I:baseBlockMeta=0
        S:baseBlockTexture=tofufactory:oreMithril
        D:denseOreProbability=1
        I:renderType=5
        I:retroGenID=0
        S:underlyingBlock=stone
    }

    block_18 {
        S:baseBlock=TofuFactory:oreMithrilTofu
        I:baseBlockMeta=0
        S:baseBlockTexture=tofufactory:oreMithrilTofu
        D:denseOreProbability=1
        I:renderType=5
        I:retroGenID=0
        S:underlyingBlock=stone
    }

    block_19 {
        S:baseBlock=Mariculture:rocks
        I:baseBlockMeta=1
        S:baseBlockTexture=mariculture:copperOre
        D:denseOreProbability=1
        I:renderType=7
        I:retroGenID=0
        S:underlyingBlock=stone
    }

    block_20 {
        S:baseBlock=Mariculture:rocks
        I:baseBlockMeta=2
        S:baseBlockTexture=mariculture:bauxiteOre
        D:denseOreProbability=1
        I:renderType=7
        I:retroGenID=0
        S:underlyingBlock=stone
    }

    block_21 {
        S:baseBlock=Mariculture:rocks
        I:baseBlockMeta=3
        S:baseBlockTexture=mariculture:rutileOre
        D:denseOreProbability=1
        I:renderType=7
        I:retroGenID=0
        S:underlyingBlock=mariculture:limestoneRaw
    }

    block_22 {
        S:baseBlock=Railcraft:ore
        I:baseBlockMeta=0
        S:baseBlockTexture=railcraft:ore.sulfur
        D:denseOreProbability=1
        I:renderType=6
        I:retroGenID=0
        S:underlyingBlock=stone
    }

    block_24 {
        S:baseBlock=Railcraft:ore
        I:baseBlockMeta=2
        S:baseBlockTexture=railcraft:ore.dark.diamond
        D:denseOreProbability=1
        I:renderType=6
        I:retroGenID=0
        S:underlyingBlock=railcraft:cube.stone.abyssal	
    }

    block_25 {
        S:baseBlock=Railcraft:ore
        I:baseBlockMeta=3
        S:baseBlockTexture=railcraft:ore.dark.emerald
        D:denseOreProbability=1
        I:renderType=6
        I:retroGenID=0
        S:underlyingBlock=railcraft:cube.stone.abyssal	
    }

    block_26 {
        S:baseBlock=Railcraft:ore
        I:baseBlockMeta=4
        S:baseBlockTexture=railcraft:ore.dark.lapis
        D:denseOreProbability=1
        I:renderType=6
        I:retroGenID=0
        S:underlyingBlock=railcraft:cube.stone.abyssal	
    }

    block_27 {
        S:baseBlock=Railcraft:ore
        I:baseBlockMeta=5
        S:baseBlockTexture=railcraft:ore.firestone
        D:denseOreProbability=1
        I:renderType=6
        I:retroGenID=0
        S:underlyingBlock=netherrack
    }

    block_28 {
        S:baseBlock=ImmersiveEngineering:ore
        I:baseBlockMeta=0
        S:baseBlockTexture=immersiveengineering:ore_Copper
        D:denseOreProbability=1
        I:renderType=7
        I:retroGenID=0
        I:retroGenId=0
        S:underlyingBlock=stone
    }

    block_29 {
        S:baseBlock=ImmersiveEngineering:ore
        I:baseBlockMeta=1
        S:baseBlockTexture=immersiveengineering:ore_Aluminum
        D:denseOreProbability=1
        I:renderType=7
        I:retroGenID=0
        I:retroGenId=0
        S:underlyingBlock=stone
    }

    block_30 {
        S:baseBlock=ImmersiveEngineering:ore
        I:baseBlockMeta=2
        S:baseBlockTexture=immersiveengineering:ore_Lead
        D:denseOreProbability=1
        I:renderType=7
        I:retroGenID=0
        I:retroGenId=0
        S:underlyingBlock=stone
    }

    block_31 {
        S:baseBlock=ImmersiveEngineering:ore
        I:baseBlockMeta=3
        S:baseBlockTexture=immersiveengineering:ore_Silver
        D:denseOreProbability=1
        I:renderType=7
        I:retroGenID=0
        I:retroGenId=0
        S:underlyingBlock=stone
    }

    block_32 {
        S:baseBlock=ImmersiveEngineering:ore
        I:baseBlockMeta=4
        S:baseBlockTexture=immersiveengineering:ore_Nickel
        D:denseOreProbability=1
        I:renderType=7
        I:retroGenID=0
        I:retroGenId=0
        S:underlyingBlock=stone
    }

    block_33 {
        S:baseBlock=BiomesOPlenty:gemOre
        I:baseBlockMeta=0
        S:baseBlockTexture=biomesoplenty:amethystore
        D:denseOreProbability=1
        I:renderType=2
        I:retroGenID=0
        I:retroGenId=0
        S:underlyingBlock=end_stone
    }

    block_34 {
        S:baseBlock=BiomesOPlenty:gemOre
        I:baseBlockMeta=2
        S:baseBlockTexture=biomesoplenty:rubyore
        D:denseOreProbability=1
        I:renderType=2
        I:retroGenID=0
        I:retroGenId=0
        S:underlyingBlock=stone
    }

    block_35 {
        S:baseBlock=BiomesOPlenty:gemOre
        I:baseBlockMeta=4
        S:baseBlockTexture=biomesoplenty:peridotore
        D:denseOreProbability=1
        I:renderType=2
        I:retroGenID=0
        I:retroGenId=0
        S:underlyingBlock=stone
    }

    block_36 {
        S:baseBlock=BiomesOPlenty:gemOre
        I:baseBlockMeta=6
        S:baseBlockTexture=biomesoplenty:topazore
        D:denseOreProbability=1
        I:renderType=2
        I:retroGenID=0
        I:retroGenId=0
        S:underlyingBlock=stone
    }

    block_37 {
        S:baseBlock=BiomesOPlenty:gemOre
        I:baseBlockMeta=8
        S:baseBlockTexture=biomesoplenty:tanzaniteore
        D:denseOreProbability=1
        I:renderType=2
        I:retroGenID=0
        I:retroGenId=0
        S:underlyingBlock=stone
    }

    block_38 {
        S:baseBlock=BiomesOPlenty:gemOre
        I:baseBlockMeta=10
        S:baseBlockTexture=biomesoplenty:malachiteore
        D:denseOreProbability=1
        I:renderType=2
        I:retroGenID=0
        I:retroGenId=0
        S:underlyingBlock=stone
    }

    block_39 {
        S:baseBlock=BiomesOPlenty:gemOre
        I:baseBlockMeta=12
        S:baseBlockTexture=biomesoplenty:sapphireore
        D:denseOreProbability=1
        I:renderType=2
        I:retroGenID=0
        I:retroGenId=0
        S:underlyingBlock=stone
    }

    block_40 {
        S:baseBlock=BiomesOPlenty:gemOre
        I:baseBlockMeta=14
        S:baseBlockTexture=biomesoplenty:amberore
        D:denseOreProbability=1
        I:renderType=2
        I:retroGenID=0
        I:retroGenId=0
        S:underlyingBlock=stone
    }

    block_41 {
        S:baseBlock=TConstruct:SearedBrick
        I:baseBlockMeta=1
        S:baseBlockTexture=tinker:nether_cobalt
        D:denseOreProbability=1
        I:renderType=0
        I:retroGenID=0
        S:underlyingBlock=netherrack
    }

    block_42 {
        S:baseBlock=TConstruct:SearedBrick
        I:baseBlockMeta=2
        S:baseBlockTexture=tinker:nether_ardite
        D:denseOreProbability=1
        I:renderType=0
        I:retroGenID=0
        S:underlyingBlock=netherrack
    }

    block_43 {
        S:baseBlock=TConstruct:SearedBrick
        I:baseBlockMeta=3
        S:baseBlockTexture=tinker:ore_copper
        D:denseOreProbability=1
        I:renderType=0
        I:retroGenID=0
        S:underlyingBlock=stone
    }

    block_44 {
        S:baseBlock=TConstruct:SearedBrick
        I:baseBlockMeta=4
        S:baseBlockTexture=tinker:ore_tin
        D:denseOreProbability=1
        I:renderType=0
        I:retroGenID=0
        S:underlyingBlock=stone
    }

}


