# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=886e0dbb-6470-4d1c-a669-564b7831c1f8

    # Set to true to disable all reporting
    B:opt-out=false
}


