# Configuration file

general {
    # Item IDs that shine light while held. Armor Items also work when worn. [ONLY ON OTHERS] Syntax: ItemID[-MetaValue]:LightValue, seperated by commas
    S:LightItems=torch,glowstone=12,glowstone_dust=10,lit_pumpkin,lava_bucket,redstone_torch=10,redstone=10,golden_helmet=14,easycoloredlights:easycoloredlightsCLStone=-1,478,679,terrafirmacraft:Torch,CarpentersBlocks:blockCarpentersTorch,terrafirmacraft:item.Blue Steel Bucket Lava,terrafirmacraft:LitPumpkin,DecorationsTFC:Lantern.Copper,DecorationsTFC:Lantern.Bronze,DecorationsTFC:Lantern.BismuthBronze,DecorationsTFC:Lantern.BlackBronze,DecorationsTFC:Lantern.Brass,DecorationsTFC:Lantern.Lead,DecorationsTFC:Lantern.Gold,DecorationsTFC:Lantern.RoseGold,DecorationsTFC:Lantern.Silver,DecorationsTFC:Lantern.SterlingSilver,DecorationsTFC:Lantern.Platinum,DecorationsTFC:Lantern.WroughtIron

    # Update Interval time for all other player entities in milliseconds. The lower the better and costlier.
    I:"update Interval"=1000
}


